
$vm_base:375;
@function vm($px){
    @return($px/375) * 100vw;
}

$vm_fontsize:75;
@function rem($px){
    @return($px/$vm_fontsize)*1rem;
}

$vm_design:750;
html{
    font-size:($vm_fontsize/($vm_design/2))*100vw;

    @media screen and (max-width: 320px) {
        font-size: 64px;
    }

    @media screen and (min-width: 540px) {
        font-size: 108px;
    }
}


body {
    max-width: 540px;
    min-width: 320px;
}  

.mod_nav{
background: #FFFFFF;
    .list{
        display: flex;
        padding: vm(15) vm(10) vm(10);
            .item{
                flex: 1;
                text-align: center;
                font-size: vm(10);
                    .logo{
                        display: block;
                        margin: 0 auto;
                        width: vm(40);
                        height: vm(40);
                            img{
                                display: block;
                                margin: 0 auto;
                                max-width: 100%;
                            }
                    }
                    .name{
                        margin-top: vm(2);
                    }
            }
    }
}
    
 
